<launch>
  <arg name="changes" default="0" />
  <arg name="memory" default="1" />
  <node name="memory_listener" pkg="memory" type="listener" output="screen">
    <rosparam file="$(find nifti_high_level_control)/launch/memory.yaml" />
    <param name="changes" type="int" value="$(arg changes)" />
    <param name="memory" type="int" value="$(arg memory)" />
  </node>
</launch>
