<launch>
  <node name="mapper_battery" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/robot_status"/>
    <param name="topic_type" type="string" value="nifti_robot_driver_msgs/RobotStatusStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="battery"/>
    <param name="term/args/0" type="string" value="m.battery_status"/>
    <param name="term/args/1" type="string" value="m.battery_level"/>
  </node>

  <node name="mapper_emergency_stop" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/robot_status"/>
    <param name="topic_type" type="string" value="nifti_robot_driver_msgs/RobotStatusStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="emergency_stop"/>
    <param name="term/args/0" type="string" value="1 if m.emergency_stop_on == True else 0"/>
  </node>

  <node name="mapper_temperature" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/temperature"/>
    <param name="topic_type" type="string" value="std_msgs/Float32"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="temperature"/>
    <param name="term/args/0" type="string" value="m.data"/>
  </node>

  <node name="mapper_brake" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/robot_status"/>
    <param name="topic_type" type="string" value="nifti_robot_driver_msgs/RobotStatusStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="brake"/>
    <param name="term/args/0" type="string" value="1 if m.brake_on == True else 0"/>
  </node>

  <node name="mapper_tracks" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/robot_status"/>
    <param name="topic_type" type="string" value="nifti_robot_driver_msgs/RobotStatusStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="tracks"/>
    <param name="term/args/0" type="string" value="m.controllers_status.track_left"/>
    <param name="term/args/1" type="string" value="m.controllers_status.track_left"/>
  </node>

  <node name="mapper_flippers" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/robot_status"/>
    <param name="topic_type" type="string" value="nifti_robot_driver_msgs/RobotStatusStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="flippers"/>
    <param name="term/args/0" type="string" value="m.controllers_status.flipper_front_left"/>
    <param name="term/args/1" type="string" value="m.controllers_status.flipper_front_right"/>
    <param name="term/args/2" type="string" value="m.controllers_status.flipper_rear_left"/>
    <param name="term/args/3" type="string" value="m.controllers_status.flipper_rear_right"/>
  </node>

  <node name="mapper_accelerometer" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/velocity"/>
    <param name="topic_type" type="string" value="geometry_msgs/TwistStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="accelerometer"/>
    <param name="term/args/0" type="string" value="m.twist.linear.x"/>
    <param name="term/args/1" type="string" value="m.twist.linear.y"/>
    <param name="term/args/2" type="string" value="m.twist.linear.z"/>
  </node>

  <node name="mapper_gyroscope" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/velocity"/>
    <param name="topic_type" type="string" value="geometry_msgs/TwistStamped"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="gyroscope"/>
    <param name="term/args/0" type="string" value="m.twist.angular.x"/>
    <param name="term/args/1" type="string" value="m.twist.angular.y"/>
    <param name="term/args/2" type="string" value="m.twist.angular.z"/>
  </node>

  <node name="mapper_joint_pos" pkg="memory" type="mapper">
    <param name="topic_name" type="string" value="/joint_states"/>
    <param name="topic_type" type="string" value="sensor_msgs/JointState"/>
    <param name="timeout" type="int" value="4000"/>
    <param name="term/functor" type="string" value="joint_pos"/>
    <param name="term/args/0" type="string" value="m.position[m.name.index('left_track_j')]"/>
    <param name="term/args/1" type="string" value="m.position[m.name.index('right_track_j')]"/>
    <param name="term/args/2" type="string" value="m.position[m.name.index('front_left_flipper_j')]"/>
    <param name="term/args/3" type="string" value="m.position[m.name.index('front_right_flipper_j')]"/>
    <param name="term/args/4" type="string" value="m.position[m.name.index('rear_left_flipper_j')]"/>
    <param name="term/args/5" type="string" value="m.position[m.name.index('rear_right_flipper_j')]"/>
    <param name="term/args/6" type="string" value="m.position[m.name.index('laser_j')]"/>
  </node>
</launch>
