<launch>
  <arg name="namespace" default="/memory" />
  <arg name="changes" default="0" />
  <arg name="memory" default="1" />

  <group ns="$(arg namespace)">
    <node name="memory_server" pkg="memory" type="server">
      <param name="memory_namespace" type="string" value="$(arg namespace)" />
    </node>
  
    <node name="memory_listener" pkg="memory" type="listener" output="screen">
      <param name="memory_namespace" type="string" value="$(arg namespace)" />
      <param name="changes" type="int" value="$(arg changes)" />
      <param name="memory" type="int" value="$(arg memory)" />
    </node>
  </group>
</launch>
